<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="fairino3_v6_robot">

  <xacro:arg
      name="initial_positions_file"
      default="initial_positions.yaml" />


  <!-- FR3 robot -->
  <xacro:include
      filename="$(find fairino_description)/urdf/fairino3_v6.urdf" />


  <!-- HKV TG-9801 真夹爪：安装面贴紧 wrist3 法兰并对中 -->
  <xacro:include
      filename="$(find fairino_description)/urdf/hkv_gripper.xacro" />

  <xacro:hkv_gripper
      parent="wrist3_link" />


  <!-- ros2_control -->
  <xacro:include
      filename="fairino3_v6_robot.ros2_control.xacro" />

  <xacro:fairino3_v6_robot_ros2_control
      name="FakeSystem"
      initial_positions_file="$(arg initial_positions_file)"/>


</robot>