<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 兼容旧 include：实际模型在 fairino_description/urdf/hkv_gripper.xacro -->
  <xacro:include
      filename="$(find fairino_description)/urdf/hkv_gripper.xacro"/>

  <xacro:macro name="virtual_gripper" params="parent">
    <xacro:hkv_gripper parent="${parent}"/>
  </xacro:macro>

</robot>
